# Identidade do sensor
SENSOR_ID=sensor-centro-temp-01
ZONA_ID=centro
TIPO=temperatura

# Broker MQTT
MQTT_BROKER_URL=mqtt://localhost:1883

# Intervalo de publicação (ms) - se não definido, usa aleatório entre 5000 e 15000
INTERVALO_MIN_MS=5000
INTERVALO_MAX_MS=15000

# Porta do serviço de ingestão REST
INGESTAO_PORT=3001
