PORT=3000
MQTT_BROKER_URL=mqtt://localhost:1883
RABBITMQ_URL=amqp://citypulse:citypulse@localhost:5672
COLETOR_CENTRO_ADDR=coletor-centro:50051
COLETOR_NORTE_ADDR=coletor-norte:50052
COLETOR_SUL_ADDR=coletor-sul:50053
COLETOR_LESTE_ADDR=coletor-leste:50054
# GRPC_MODE=mock   # descomente para rodar sem os coletores de zona reais
